.player-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
    position: absolute;
    z-index: 500;
    background-color: black;
}
.player-title-container{
    width: 1000px;
    height: 60px;
    background-color:rebeccapurple;
    display: flex;
    flex-direction: column;
    /* align-items: left;
    align-content: flex-start; */
    justify-content: left;
}
.server-list{
    display: flex;
    color: white;
    width: 1000px;
    height: 40px;
    background-color: blue;
}
.player-iframe{
    width: 1000px;
    height: 600px;
}